@charset "utf-8";

html {
    font-size: 100%;
}

body {
    color: #383e45;
    font-size: 0.9rem;
}
a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

li {
    list-style: none;
}

.site_title {
    width: 120px;
    line-height: 1px;
    padding: 10px 0;
}

.site_title a {
    display: block;
}

.section_title {
    display: inline-block;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 60px;
    border-bottom: solid 1px #383e45;
}

.content_title {
    font-size: 1rem;
    margin: 10px 0;
}

.wrapper {
    max-width: 100%;
    margin: 0 auto 100px;
    padding: 0 4%;
    text-align: center;
}

/*----------------------------------------------
ヘッダー
----------------------------------------------*/
#header{
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    background-color: #fff;
}
#header h1 a {
    font-size: 50px;
    font-weight: bold;
    color: #24292e;
}
#header h1 a:hover {
    opacity: 0.7;
}
#header ul {
    display: flex;
    padding: 10px 0;
}
#header li {
    margin-left: 30px;
}

#header li a {
    color: #24292e;
}

#header li a:hover {
    opacity: 0.7;
}

/*----------------------------------------------
MainVisual
----------------------------------------------*/
#main_visual {
    margin-bottom: 80px;
}
#main_visual img {
    width: 100%;
    max-width: 1920px;
    height: 600px;
    object-fit: cover;
}
/*----------------------------------------------
About
----------------------------------------------*/
#about .content {
    display: flex;
    justify-content: center;
    align-items: center;
}
#about img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 30px;
}
/*----------------------------------------------
Fishing
----------------------------------------------*/
#fishing ul {
    display: flex;
    justify-content: space-between;
}
#fishing li {
    width: 32%;
}

/*----------------------------------------------
Training
----------------------------------------------*/
#training content {
    display: flex;
    justify-content: space-between;
}
/*----------------------------------------------
Gallery
----------------------------------------------*/
#gallery .picture {
    display: inline-block;
    height: 30px;
    margin-right: 15px;
    margin-bottom: 15px;
}
#gallery li {
    display: inline-block;
    height: 0%;
    width: 32%;
}

/*----------------------------------------------
Footer
----------------------------------------------*/
#footer {
    font-size: 0.5rem;
    padding: 10px 0;
    text-align: center;
}

/*----------------------------------------------
SP
----------------------------------------------*/
@media screen and (max-width: 600px) {
    /*----------------------------------------------
    MainVisual
    ----------------------------------------------*/
    #mainvisual img {
        height: calc(100vh - 60px);
    }
    /*----------------------------------------------
    About
    ----------------------------------------------*/
    #about .content {
        flex-direction: column;
    }
    #about img {
        margin-right: 0;
    }
    /*----------------------------------------------
    Fishings
    ----------------------------------------------*/
    #fishing ul {
        flex-direction: column;
    }
    #fishing li {
        width: 100%;
        margin-bottom: 30px;
    }
    /*----------------------------------------------
    Training
    ----------------------------------------------*/
    #training ul {
        flex-direction: column;
    }
    #training li {
        width: 100%;
        margin-bottom: 30px;
    }

}